{% extends "base_layout.html" %}

{% block content %}
<h2>Manajemen Aset Mesin</h2>
<a href="{{ url_for('assets.add_asset') }}" style="font-weight: bold; color: green;">
    + Tambah Aset Baru
</a>

<table>
    <thead>
        <tr>
            <th>Nama Aset</th>
            <th>Tipe</th>
            <th>Lokasi</th>
            <th>Status</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.asset_name }}</td>
            <td>{{ asset.type }}</td>
            <td>{{ asset.location }}</td>
            <td>{{ asset.status }}</td>
            <td>
                <a href="{{ url_for('assets.detail_asset', asset_id=asset._id) }}">
                    Lihat Detail
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Belum ada aset. Silakan tambah aset baru.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}